@charset "UTF-8";
@font-face {
  font-family: 'GothamProBlack';
  src: url("../fonts/GothamProBlack.eot");
  src: url("../fonts/GothamProBlack.eot") format("embedded-opentype"), url("../fonts/GothamProBlack.woff2") format("woff2"), url("../fonts/GothamProBlack.woff") format("woff"), url("../fonts/GothamProBlack.ttf") format("truetype"), url("../fonts/GothamProBlack.svg#GothamProBlack") format("svg"); }

@font-face {
  font-family: 'GothamProLights';
  src: url("../fonts/GothamProLights.eot");
  src: url("../fonts/GothamProLights.eot") format("embedded-opentype"), url("../fonts/GothamProLights.woff2") format("woff2"), url("../fonts/GothamProLights.woff") format("woff"), url("../fonts/GothamProLights.ttf") format("truetype"), url("../fonts/GothamProLights.svg#GothamProLights") format("svg"); }

@font-face {
  font-family: 'GothamProMedium';
  src: url("../fonts/GothamProMedium.eot");
  src: url("../fonts/GothamProMedium.eot") format("embedded-opentype"), url("../fonts/GothamProMedium.woff2") format("woff2"), url("../fonts/GothamProMedium.woff") format("woff"), url("../fonts/GothamProMedium.ttf") format("truetype"), url("../fonts/GothamProMedium.svg#GothamProMedium") format("svg"); }

@font-face {
  font-family: 'fontawesome-webfont';
  src: url("../fonts/fontawesome-webfont.eot");
  src: url("../fonts/fontawesome-webfont.eot") format("embedded-opentype"), url("../fonts/fontawesome-webfont.woff2") format("woff2"), url("../fonts/fontawesome-webfont.woff") format("woff"), url("../fonts/fontawesome-webfont.ttf") format("truetype"), url("../fonts/fontawesome-webfont.svg#fontawesome-webfont") format("svg"); }

html {
  font-size: 18px; }

body {
  min-width: 320px;
  position: relative;
  line-height: 1.5;
  overflow-x: hidden;
  font-size: 1rem;
  opacity: 1;
  font-family: GothamProLights;
  font-weight: 500;
  overflow-scrolling: touch;
  margin: 0;
  color: #5d5a63; }

a:hover, a:focus {
  text-decoration: none; }

a {
  color: inherit;
  text-decoration: none; }

input:hover, input:focus, a:focus {
  outline: none; }

@media (min-width: 1170px) {
  .container {
    max-width: 1170px; } }

input[type=text] {
  width: 100%;
  padding: 6px 15px;
  font-size: 1rem;
  margin-bottom: 18px; }
  input[type=text]::-webkit-input-placeholder {
    font-size: 1rem;
    color: #e1e3e5; }
  input[type=text]::-moz-placeholder {
    font-size: 1rem;
    color: #e1e3e5; }
  input[type=text]:-ms-input-placeholder {
    font-size: 1rem;
    color: #e1e3e5; }
  input[type=text]::placeholder {
    font-size: 1rem;
    color: #e1e3e5; }

.owl-arrow {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 25px;
  height: 25px;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  border: 1px solid #0065ab;
  cursor: pointer; }

.owl-arrow#next-staff, .owl-arrow#next-comments {
  right: -15px;
  border-left: 1px solid transparent;
  border-bottom: 1px solid transparent; }

.owl-arrow#prev-staff, .owl-arrow#prev-comments {
  left: -15px;
  border-right: 1px solid transparent;
  border-top: 1px solid transparent; }

.owl-carousel .owl-item img {
  width: auto;
  height: 100%;
  margin: 0 auto; }

img.grayscale {
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  -webkit-transition: -webkit-filter 1s ease-in-out;
  transition: -webkit-filter 1s ease-in-out;
  transition: filter 1s ease-in-out;
  transition: filter 1s ease-in-out, -webkit-filter 1s ease-in-out; }

section:hover img.grayscale, .item:hover img.grayscale, .personal--item:hover img.grayscale {
  -webkit-filter: grayscale(0);
          filter: grayscale(0); }

.btn__agency {
  font-size: 1.55rem;
  font-family: GothamProMedium;
  background-color: #0065ab;
  color: #ffffff;
  text-transform: uppercase;
  display: block;
  text-align: center;
  padding: 10px 0;
  white-space: nowrap; }
  .btn__agency:hover {
    color: #ffffff; }

.btn__agency.small {
  font-size: 1rem; }

.btn__agency.white {
  font-size: .88rem;
  color: #5d5a63;
  background-color: transparent;
  border: 1px solid #808285;
  font-family: GothamProMedium;
  padding: 9px 0; }

.btn__agency.white.phone {
  font-family: GothamProLights;
  font-size: 1.1rem;
  padding: 6px 0; }

input[type=range] {
  margin: 22px 0;
  width: 100%;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-image: url("../img/range_bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: -webkit-calc(100% - 33px) auto;
  background-size: calc(100% - 33px) auto; }
  input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
            appearance: none;
    width: 33px;
    height: 33px;
    background-color: #ffffff;
    border: 1px solid #5d5a63;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    cursor: pointer; }
  input[type=range]::thumb {
    background-color: #fff; }

h1 {
  font-family: GothamProBlack;
  font-size: 2.83rem;
  color: #0065ab;
  line-height: 1.15;
  text-transform: uppercase; }
  h1 strong {
    font-size: 3.22rem; }

h2.subtitle {
  font-size: 2.23rem;
  text-transform: none; }

h2 {
  color: #0065ab;
  font-family: GothamProBlack;
  font-size: 2.45rem;
  text-transform: uppercase; }

h3 {
  font-family: GothamProMedium;
  font-size: 1.67rem;
  text-transform: none;
  color: #0065ab; }

.header {
  background-image: url("../img/header_bg.jpg");
  background-repeat: no-repeat;
  background-position: bottom right;
  margin-top: 84px; }
  .header__buttons {
    padding-top: 13px; }
    .header__buttons > a {
      margin-bottom: 18px; }
  .header__content {
    margin-top: 126px; }
  .header__action {
    margin-top: 113px;
    padding-bottom: 46px;
    text-align: center; }
    .header__action h3 {
      margin-bottom: 36px; }

@media (max-width: 1400px) {
  .header {
    background-size: 48%; } }

.price {
  margin-top: 102px;
  text-align: center;
  padding-bottom: 106px; }
  .price h2 {
    margin-bottom: 0; }
  .price h2.subtitle {
    color: #8ac0e4;
    font-size: 1.67rem; }
  .price__form--items {
    margin-top: 53px; }
  .price__form--item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .price__form--item a.btn__agency {
      -webkit-box-flex: 100%;
      -webkit-flex: 100% 0 0;
          -ms-flex: 100% 0 0px;
              flex: 100% 0 0;
      font-size: 1rem;
      padding: 9px 0; }
    .price__form--item--field {
      -webkit-box-flex: 1;
      -webkit-flex-grow: 1;
          -ms-flex-positive: 1;
              flex-grow: 1;
      border: 1px solid #5d5a63;
      font-family: GothamProMedium;
      text-align: left;
      padding: 6px 0 7px 20px; }
      .price__form--item--field#budget::after {
        content: 'рублей';
        padding-left: 5px; }
    .price__form--item--label {
      color: #5d5a63;
      padding-right: 69px; }

.about .container {
  background-image: url("../img/about_bg.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-color: #f5f5f5;
  padding-top: 36px; }

.about__header h3 {
  font-size: 1.10rem;
  line-height: 1.46;
  margin-bottom: 40px; }

.about__desc {
  font-size: 0.9rem;
  line-height: 1.65; }
  .about__desc strong {
    font-family: GothamProMedium; }

.about__right {
  padding-top: 22px; }

.about__left {
  text-align: right;
  padding-right: 95px; }

.staff_slider {
  padding: 84px 0; }
  .staff_slider .col-lg-10 {
    padding: 0 50px; }

.personal {
  padding-bottom: 42px; }
  .personal h2 {
    text-align: center;
    font-size: 1.9rem; }
  .personal--items {
    padding-top: 25px; }
    .personal--items h4 {
      font-size: 1rem;
      text-align: center;
      margin-top: 23px; }
    .personal--items a.btn__agency {
      margin-top: 33px;
      font-size: 0.78rem; }
  .personal--item {
    padding-left: 8px;
    padding-right: 8px; }

.advice .container {
  padding: 18px 0;
  background-color: #f5f5f5; }

.advice__desc {
  margin-bottom: 0; }

.advice input {
  width: 100%;
  padding: 6px 15px;
  font-size: 1rem;
  margin-bottom: 18px; }
  .advice input::-webkit-input-placeholder {
    font-size: 1rem;
    color: #e1e3e5; }
  .advice input::-moz-placeholder {
    font-size: 1rem;
    color: #e1e3e5; }
  .advice input:-ms-input-placeholder {
    font-size: 1rem;
    color: #e1e3e5; }
  .advice input::placeholder {
    font-size: 1rem;
    color: #e1e3e5; }

.advice a.btn__agency {
  font-size: 1rem;
  padding: 8px 0; }

.clients {
  padding-bottom: 30px; }
  .clients__header {
    text-align: center;
    padding-top: 115px; }
    .clients__header h2 {
      font-size: 2.22rem;
      line-height: 1.5; }
  .clients__items {
    margin-top: 27px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }

.hypothec {
  background-image: url("../img/hypothec_bg.jpg");
  background-repeat: no-repeat;
  background-position: bottom right;
  margin-bottom: 66px; }
  .hypothec__header {
    margin-top: 55px; }
    .hypothec__header h2 {
      text-align: center;
      font-size: 4rem; }
  .hypothec__content {
    padding-top: 24px; }
  .hypothec__right {
    padding-top: 9px; }
    .hypothec__right p {
      line-height: 1.4; }
  .hypothec__left ul {
    padding-left: 0; }
  .hypothec__left li {
    padding: 12px 0 11px 60px;
    list-style: none;
    background-image: url("../img/list.png");
    background-repeat: no-repeat;
    background-position: left center;
    color: #5d5a63; }
  .hypothec__action {
    padding-top: 20px; }
    .hypothec__action .hypothec__right {
      padding-top: 12px; }
  .hypothec a.btn__agency {
    font-size: 1rem;
    padding: 7px 0; }
  .hypothec h3 {
    font-size: 1.5rem;
    font-family: GothamProBlack;
    color: #8ac0e4;
    line-height: 1.35; }
    .hypothec h3 strong {
      font-size: 2.67rem;
      text-transform: uppercase; }
  .hypothec h4 {
    font-family: GothamProBlack;
    font-size: 2.8rem;
    text-transform: uppercase;
    color: #0065ab; }

@media (max-width: 1400px) {
  .hypothec {
    background-size: 38%; } }

.benefits .container {
  padding-top: 92px;
  padding-bottom: 92px;
  background-image: url("../img/benefits_bg.jpg");
  background-repeat: no-repeat;
  background-position: auto 100%; }

.benefits .col-lg-4 {
  margin-right: 35px; }

.benefits__header h2 {
  font-size: 2.5rem;
  margin-bottom: 4px; }

.benefits__header .subtitle {
  font-size: 1.24rem;
  color: #5d5a63;
  font-family: GothamProMedium; }

.benefits__item {
  background-repeat: no-repeat;
  background-position: left bottom 8px; }
  .benefits__item p {
    margin-top: 27px;
    margin-bottom: 5px;
    padding-top: 23px;
    padding-bottom: 17px;
    font-size: 0.9rem;
    color: #000000;
    font-family: GothamProLights;
    white-space: nowrap;
    padding-left: 70px; }
  .benefits__item:nth-child(1) {
    background-image: url("../img/benefits/1.png"); }
  .benefits__item:nth-child(2) {
    background-image: url("../img/benefits/2.png"); }
  .benefits__item:nth-child(3) {
    background-image: url("../img/benefits/3.png"); }
  .benefits__item:nth-child(4) {
    background-image: url("../img/benefits/4.png"); }
  .benefits__item:nth-child(5) {
    background-image: url("../img/benefits/5.png"); }
  .benefits__item:nth-child(6) {
    background-image: url("../img/benefits/6.png"); }

.benefits__action .col-lg-10 {
  margin-top: 17px;
  text-align: right; }

.benefits__action a.btn__agency {
  display: inline-block;
  font-size: 1.1rem;
  padding: 6px 40px; }

.road__header {
  margin-top: 75px;
  margin-bottom: 60px; }
  .road__header h2 {
    text-align: center;
    font-size: 2.45rem; }

.road__content {
  min-height: 322px;
  background-image: url("../img/road_bg.jpg");
  background-repeat: no-repeat;
  background-position: bottom center; }

.road__item {
  position: absolute; }
  .road__item p {
    display: inline-block;
    font-family: GothamProLights;
    margin-bottom: 0;
    line-height: 1.1;
    color: #000000;
    padding: 5px 0 5px 44px;
    background-image: url("../img/marker.png");
    background-repeat: no-repeat;
    background-position: left top; }
  .road__item:nth-child(1) {
    top: -6%;
    left: 48%; }
  .road__item:nth-child(2) {
    top: 7%;
    left: 3%; }
  .road__item:nth-child(3) {
    top: 32%;
    right: 0; }
  .road__item:nth-child(4) {
    top: 50%;
    left: 4%; }
  .road__item:nth-child(5) {
    bottom: 4%;
    right: 1%; }

.faq {
  margin-top: 80px; }
  .faq .container {
    padding-top: 59px;
    background-color: #f5f5f5; }
  .faq__header h2 {
    text-align: center;
    font-size: 2.5rem; }
  .faq__content {
    padding-top: 34px;
    padding-bottom: 16px; }
    .faq__content ul {
      padding-left: 0px; }
    .faq__content li {
      background-repeat: no-repeat;
      background-position: top 3px left;
      font-family: GothamProLights;
      list-style: none;
      padding-left: 80px;
      padding-bottom: 23px;
      line-height: 1.4; }
      .faq__content li:nth-child(1) {
        background-image: url("../img/list/1.png"); }
      .faq__content li:nth-child(2) {
        background-image: url("../img/list/2.png"); }
      .faq__content li:nth-child(3) {
        background-image: url("../img/list/3.png"); }
      .faq__content li:nth-child(4) {
        background-image: url("../img/list/4.png"); }
      .faq__content li:nth-child(5) {
        background-image: url("../img/list/5.png"); }

.instruction .container {
  background-image: url("../img/instruction_bg.png");
  background-repeat: no-repeat;
  background-position: left bottom;
  padding-bottom: 80px; }

.instruction__header {
  padding-top: 85px; }
  .instruction__header h2 {
    font-size: 3.5rem;
    line-height: 1;
    margin-bottom: 3px; }
  .instruction__header .subtitle {
    color: #8ac0e4;
    font-family: GothamProBlack;
    font-size: 1.33rem; }

.instruction__action {
  padding-top: 40px; }
  .instruction__action input {
    padding: 5px 15px 4px; }
  .instruction__action a.btn__agency {
    font-size: 1.2rem;
    padding: 4px 0; }

.comments {
  padding-top: 42px;
  padding-bottom: 100px; }
  .comments__header {
    text-align: center; }
    .comments__header h2 {
      margin-bottom: 31px; }
  .comments__slider {
    padding-top: 72px; }

.footer {
  min-height: 482px; }
  .footer #map {
    min-height: 482px; }
  .footer__right {
    background-color: #f5f5f5; }
  .footer__content--wrap {
    width: 70%;
    margin: 100px auto 0; }
    .footer__content--wrap a.btn__agency.white {
      margin-bottom: 18px; }
    .footer__content--wrap a.btn__agency {
      padding: 9px 0;
      font-size: 0.95rem;
      margin-bottom: 50px; }
    .footer__content--wrap .desc {
      font-size: 0.9rem; }

/*# sourceMappingURL=main.css.map */
