doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title title
    link(rel="stylesheet", href="css/libs.css")
    link(rel="stylesheet", href="css/main.css")
    link(rel="shortcut icon", href="img/favicon.ico")
  body

    block content

  script(src="js/libs.js", defer)
  script(src="js/scripts.js", defer)