
extends header.pug
block content
  header.header
    .container
      .row.justify-content-center.no-gutters
        .col-lg-7.header__logo
          img(src="img/logo.png", alt="")
        .col-lg-3.header__buttons
          a(href="tel: +73472994868").btn__agency.white.phone +7 (347) 299-48-68
          a(href="#").btn__agency.white заказать обратный звонок
      .row.no-gutters.justify-content-center.header__content
        .col-lg-10
          h1 <strong>Продажа квартир</strong> <br> в новостройках уфы
          h2.subtitle по ценам застройщиков
      .row.no-gutters.justify-content-center.header__action
        .col-lg-4
          h3 Подбери себе квартиру за 5 минут, пройдя тест
          a(href="#").btn__agency Пройти тест
        .col-lg-5
  section.price
    .container
      .row.justify-content-center.price__header
        .col-lg-12
          h2 Калькулятор стоимости квартиры 
          h2.subtitle расчитайте и получите список квартир по параметрам
      .row.justify-content-center.price__calc
        .col-lg-6
          form(action="")
            .price__form--items
              .price__form--item.price__budget
                .price__form--item--label Бюджет
                .price__form--item--field#budget 1 000 000
              .price__form--item
                input(type="range", min="1000000", max="10000000", step="50000", list, value="1000000")
              .price__form--item
                .price__form--item--label Количество комнат
                .price__form--item--field#count 3
              .price__form--item
                input(type="range", min="1", max="8", step="1", list, value="3")
              .price__form--item
                a(href="#").btn__agency Расчитать
  section.about
    .container
      .row.justify-content-center.about__header
        .col-lg-5.about__left
          img.grayscale(src="img/grayscale/about.png", alt="")
        .col-lg-5.about__right
          h3 Директор <br>агентства недвижимости «Аструм»<br> Балтин Айрат Рафаилович
          p.about__desc Привет. Меня зовут Балтин Айрат. Я директор Агентства недвижимости Аструм. В сфере недвижимости я работаю с 2012 года. За это время <strong>более 200 моих клиентов</strong> стали счастливыми обладателями новых квартир. В сферу риэлторских услуг я пришёл после госслужбы. Выбрал эту профессию целенаправленно. Считаю, что Риэлтор - это не просто профессия, а это призвание. Призвание дарить людям счастье, помогать обретать крышу над головой, в виде новой квартиры. 
            br
            strong Добро пожаловать к нам, в Агентство недвижимости Аструм!
  .staff_slider
    .container
      .row.justify-content-center.staff_slider--content
        .col-lg-10
          .owl-arrow#prev-staff
          .owl-arrow#next-staff
          .owl-carousel#slider-staff
            .item
              img.grayscale(src="img/staff_slider/1.jpg", alt="")
            .item
              img.grayscale(src="img/staff_slider/2.jpg", alt="")
            .item
              img.grayscale(src="img/staff_slider/3.jpg", alt="")
  .personal
    .container
      .row.justify-content-center.personal--header
        .col-lg-12
          h2 Сотрудники, которые будут работать с вами
      .row.justify-content-center
        .col-lg-10
          .row.justify-content-between.personal--items
            .col-lg-3.personal--item
              img.grayscale(src="img/personal/1.jpg", alt="")
              h4 Егоров Кирилл
              a.btn__agency.white(href="") Заказать консультацию
            .col-lg-3.personal--item
              img.grayscale(src="img/personal/2.jpg", alt="")
              h4 Галиуллина Екатерина
              a.btn__agency.white(href="") Заказать консультацию
            .col-lg-3.personal--item
              img.grayscale(src="img/personal/3.jpg", alt="")
              h4 Хамитов Марат
              a.btn__agency.white(href="") Заказать консультацию
            .col-lg-3.personal--item
              img.grayscale(src="img/personal/4.jpg", alt="")
              h4 Нуриева Айгуль
              a.btn__agency.white(href="") Заказать консультацию
  section.advice
    .container
      .row.align-items-center
        .col-lg-7.row.align-items-center.justify-content-center
          .col-lg-7
            p.advice__desc Получи бесплатную консультацию наших специалистов
        .col-lg-5.row.align-items-center
          .col-lg-9
            input#advice-phone(type="text", placeholder="+7(____)_____-____-____")
            a(href="#").btn__agency Получить консультацию
  section.clients
    .container
      .row.justify-content-center.clients__header
        .col-lg-12
          h2 Мы официальные представители <br> ТОП 10 застройщиков в Уфе!
      .row.justify-content-center
        .clients__items.col-lg-10
          .clients__item
            img(src="img/clients/1.jpg", alt="")
          .clients__item
            img(src="img/clients/2.jpg", alt="")
          .clients__item
            img(src="img/clients/3.jpg", alt="")
          .clients__item
            img(src="img/clients/4.jpg", alt="")
  section.hypothec
    .container
      .row.justify-content-center.hypothec__header
        .col-lg-12
          h2 Ипотека
      .row.justify-content-center.hypothec__content
        .col-lg-5.hypothec__left
          ul
            li Все банки - в одном офисе
            li Ипотека без первоначального взноса
            li Одобрение от 4-х часов
            li Юридическое сопровождение
            li Материнский капитал
            li Военная ипотека
        .col-lg-5.hypothec__right
          p Не хотите платить первоначальный взнос по ипотеке? Оформите ипотеку через нас! Мы также предоставляем полное юридическое сопровождение при получении военной ипотеки и материнского капитала. 
          h3 <strong>Снижение</strong><br> процентной ставки<br> при  обращении к нам, до 1%
      .row.justify-content-center.hypothec__action
        .col-lg-5.hypothec__left
          h4 взять ипотеку на лучших условиях
        .col-lg-5.hypothec__right
          form
            input#hypothec-name(type="text", placeholder="Ваше имя*")
            input#hypothec-phone(type="text", placeholder="+7(____)_____-____-____")
            a(href="#").btn__agency Оставить заявку
  section.benefits
    .container
      .row.justify-content-center.benefits__header
        .col-lg-10
          h2 Наши Преимущества
          p.subtitle мы пройдем с вами рука об руку по всем этапам до момента заезда в квартиру
      .row.justify-content-center
        .col-lg-10
          .row.justify-content-between.benefits__content.no-gutters
            .col-lg-6.benefits__item
              p Одинаковые цены с застройщиками
            .col-lg-4.benefits__item
              p Возможность получения скидок
            .col-lg-6.benefits__item
              p Бесплатное юридическое сопровождение сопровождение
            .col-lg-4.benefits__item
              p Помощь при оформлении ипотеки
            .col-lg-6.benefits__item
              p Работаем с материнским капиталом
            .col-lg-4.benefits__item
              p Подбираем квартиру за 5 минут
      .row.justify-content-center.benefits__action
        .col-lg-10
          a(href="#").btn__agency Подобрать
  section.road
    .container
      .row.justify-content-center.road__header
        .col-lg-10
          h2 Этапы получения квартиры
      .row.justify-content-center
        .col-lg-10.road__content
          .road__item
            p Выслушиваем ваши пожелания. Подбираем<br> параметры будущей квартиры.
          .road__item
            p Выезжаем на стройку.<br> Показываем квартиру.
          .road__item
            p Подготовка документов<br> на продажу.
          .road__item
            p Получение готовых документов.<br> Оплата квартиры.
          .road__item
            p Вас сопровождает<br> менеджер до<br> получения квартиры.
  section.faq
    .container
      .row.justify-content-center.faq__header
        .col-lg-10
          h2 Часто задаваемые вопросы
      .row.justify-content-center.faq__content
        .col-lg-10
          ul
            li Достроится ли дом в срок? Надежный ли застройщик? <br>— Мы продаем от надежных застройщиков, у которых нет долгостроев и задержек по сдаче дома в эксплуатацию. Сроки сдачи прописаны в договорах. Наша работа с застройщиком регламентируется договорными отношениями.
            li Какие гарантии вы можете дать? <br> — Мы работаем строго по федеральному закону ФЗ-214 о долевом участии. Все сделки открытые, условия прозрачные!
            li Сколько стоит ваша услуга?<br> — Мы не берем денег с клиентов, так как являемся партнерами застройщиков. При этом стоимость покупки квартиры, такая же как на прямую от застройщика
            li Работаете ли вы с материнским капиталом?<br> — Да, работаем со всеми видами сертификатов, в том числе и по военной ипотеке.
            li С какими застройщиками вы работаете?<br> — ЖилстройИнвест, Мупслужба заказчика, Третий трест, Талан, ГоссСтрой, Унистрой, Жилой Квартал, Первый Трест и многие другие надежные застройщики.
  section.instruction
    .container
      .row.justify-content-end.instruction__header
        .col-lg-6
          h2 Скачайте<br> инструкцию 
          p.subtitle пошаговой покупки квартиры<br> в Новостройке
      .row.instruction__action
        .col-lg-7
        .col-lg-3
          form(action="")
            input#instruction-name(type="text", placeholder="Ваше имя*")
            input#instruction-phone(type="text", placeholder="+7(____)_____-____-____")
            input#instruction-email(type="text", placeholder="__________________@____")
          a(href="#").btn__agency Скачать
  .comments
    .container
      .row.justify-content-center.comments__header
        .col-lg-12
          h2 Реальные отзывы клиентов
          img.greyscale(src="img/comments_video.jpg", alt="")
      .row.justify-content-center.comments__slider
        .col-lg-10
          .owl-arrow#prev-comments
          .owl-arrow#next-comments
          .owl-carousel#slider-comments
            .item
              img.grayscale(src="img/comments/1.jpg", alt="")
            .item
              img.grayscale(src="img/comments/2.jpg", alt="")
            .item
              img.grayscale(src="img/comments/3.jpg", alt="")
        

